@model My_Blog_Application.Models.PublicUser
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<p>you entered following details</p>

<p> @Model.Name</p>
<p> @Model.Phone</p>
<p> @Model.Password</p>
