

<nav class="navbar navbar-expand-lg navbar-light border border-dark bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" asp-action="Index">My Blog Application</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" asp-controller="PublicUser" asp-action="Login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" asp-controller="PublicUser" asp-action="SignUp">Sign Up</a>
                </li>
            </ul>
            </div>
        </div>
        </nav>
                <br />
                <br />
                <div className="row justify-content-center">
                    <div className="col-lg-6 text-center">
                        <div className="container">
                            <a class="btn btn-warning btn-lg btn-block" asp-controller="PublicUser" asp-action="Login">Login</a>
                            <a class="btn btn-warning btn-lg btn-block" asp-controller="PublicUser" asp-action="Signup">SignUp</a>
                            <a class="btn btn-danger btn-lg btn-block" asp-controller="Admin" asp-action="Index">I am an Admin</a>

                        </div>
                    </div>
                </div>


